modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
PORT = "5000"

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8570827233:AAE6NphfpzkDdK_Ed0eK7GL0A2ltiJHj1YM"

[workflows]

[[ports]]
localPort = 5000
externalPort = 80
